{% extends 'base.html' %}

{% block head %}
<title> Dashboard | Visualization Project </title>
<script src="./static/{{taskJS}}.js"></script>
<link rel="stylesheet" type="text/css" href="./static/dc.css">
<style>
    svg {
        font: 10px sans-serif;
    }

    .background path {
        fill: none;
        /* stroke: #5c6263; */
        stroke: #ddd;
        /* shape-rendering: crispEdges; */
    }

    .foreground path {
        fill: none;
        stroke: steelblue;
    }

    .brush .extent {
        fill-opacity: .3;
        stroke: #fff;
        shape-rendering: crispEdges;
    }

    .axis line,
    .axis path {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .axis text {
        text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
        cursor: move;
        fill: #000;
    }
</style>
{% endblock %}

{% block body %}
<div class="container max-width-90" style="padding-top:10px;">
    <div class="row">
        <div class="col-sm-9">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">
                    The entire dataset visualized using <b>Parallel Coordinates</b>
                </div>
                <div id="parallel_coords" class="card-body bg-light" style="padding: 0%;">
                    <!-- <div id="parallel_coords">
                </div> -->
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-white bg-dark mb-3 d-flex" style="max-width: 18rem;">
                <div class="card-header">Total Approved Credit Applications</div>
                <div id="pie_chart_0_1" class="card-body bg-light" style="Padding: 2px;">
                    <a class="reset" href="javascript:targetPie.filterAll(); dc.redrawAll();" style="display: none;">reset</a>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="card text-white bg-dark mb-3 d-flex" style="max-width: 18rem;">
                        <div id="rejectCount" class="card-header">Rejected: </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="card text-white bg-dark mb-3 d-flex" style="max-width: 18rem;">
                        <div id="approveCount" class="card-header">Accepted:

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
                <div class="card-header">2 dimensional PCA of the entire dataset</div>
                <div id="mds" class="card-body bg-light" style="padding: 0%;">
                    <a class="reset" href="javascript:mdsScatterPlot.filterAll(); dc.redrawAll();" style="display: none;">reset</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Credit History</div>
                <div id="creditHistory" class="card-body bg-light" style="padding: 0%;">
                    <a class="reset" href="javascript:creditHistoryChart.filterAll(); dc.redrawAll();" style="display: none;">reset</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Education</div>
                <div id="education" class="card-body bg-light" style="padding: 0%;">
                    <a class="reset" href="javascript:educationChart.filterAll(); dc.redrawAll();" style="display: none;">reset</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Prior Default</div>
                <div id="priorDefault" class="card-body bg-light" style="padding: 0%;">
                    <a class="reset" href="javascript:priorDefaultRowChart.filterAll(); dc.redrawAll();" style="display: none;">reset</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Age</div>
                <div id="age" class="card-body bg-light" style="padding: 0%;">
                    <a class="reset" href="javascript:ageBarChart.filterAll(); dc.redrawAll();" style="display: none;">reset</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card text-white bg-dark mb-3" style="max-width: 96%;">
                <div class="card-header">Correlation of variables against target</div>
                <div id="correlation" class="card-body" style="padding: 0.5%;">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script async="async">
    var correlations = {{correlations | safe}};
    populate_correlations(correlations);
</script> -->
<script src="//d3js.org/d3.v3.min.js"></script>
<script src="./static/crossfilter.js"></script>
<script src="./static/dc.js"></script>
<!-- <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script> -->


<script async="async">
    var data = {{ data | safe }};
    var correlations = {{correlations | safe}};
    {{taskJS}}(data,correlations);
</script>



{% endblock %}
